<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <!-- Home Page -->
   <div class="container">
    <h1> <img src="/images/proxy-image.jpg" width="40px" alt="">Welcome to StudManager</h1>
    <a href="/register" class="btn">Student Portal</a>
    <a href="/admin/login" class="btn">Admin Dashboard</a>
</div>

</body>
</html>